h1 {
    align-self: center
}
nav a {
    padding: 3px 25px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 12px;
    display: inline-block;
    border-radius: 2px;
    color: black;
    font-weight: 450;
    font-size: 14px
}
nav a:hover {
    background-color: rgb(219, 217, 217);
}
.fill-space
{
    flex: 1 1 auto;
}
.search-result li {

    width:195px;
    height: 16px;
    padding: 5px;
    background-color: white;
    cursor: pointer;
    list-style-type: none;
    font-size:15px;
  }

  .search-result li a {
    color: #888;
    display: block;
    text-decoration: none;
  }
  #search-box {
    width: 200px;
    height: 20px;
  }
  ul.search-result {
    margin-top: 0;
    padding-left: 0;
  }
  .search {
    position: absolute;
    left: 205px;
    top: 85px; 
    z-index: 1;
  }
